html{
    font-size: 18pt;
}

body  {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .box {
    width: 200px;
    height: 200px;
    background: green;
    margin: 50px;
    padding: 20px;
    border: 10px solid pink;
    position: sticky;
    top: 0;
  }
 #content {
    box-sizing: content-box;
  }
  #border {
    box-sizing: border-box;
    position: relative;

  }
  
  p {
    margin: 0;
    padding: 30px;
    max-width: 80px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    position: relative;
  }
  
  .t20-r30 {
    top: 20px;
    right: 30px;
  }
  
  .t40-l10 {
    top: 40px;
    left: 10px;
  }
  
  .b15-l30 {
    bottom: 15px;
    left: 30px;
  }
  
  .b25-r20 {
    bottom: 25px;
    right: 20px;
  }
  
  .lightpink {
    color: lightpink;
  }
  .gold {
    color: gold;
  }
  .skyblue {
    color: skyblue;
  }
  .forestgreen {
    color: forestgreen;
  }
  
  